h1.ce-header {
  font-size: 28px;
}

h2.ce-header {
  font-size: 24px;
}

h3.ce-header {
  font-size: 20px;
}

h4.ce-header {
  font-size: 18px;
}

h5.ce-header {
  font-size: 16px;
}

h6.ce-header {
  font-size: 14px;
}
